* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

body {
    height: 100%;
    font-size: 14px;
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    -webkit-font-smoothing: antialiased;
}