@charset "UTF-8";
@font-face {
    font-family: element-icons;
    src: url(icons.woff) format("woff"), url(https://unpkg.com/element-ui/lib/theme-chalk/fonts/element-icons.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

[class*=" ty-icon-"], [class^=ty-icon-] {
    font-family: element-icons !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: baseline;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ty-icon-info:before {
    content: "\e61a"
}

.ty-icon-error:before {
    content: "\e62c"
}

.ty-icon-success:before {
    content: "\e62d"
}

.ty-icon-warning:before {
    content: "\e62e"
}

.ty-icon-question:before {
    content: "\e634"
}

.ty-icon-back:before {
    content: "\e606"
}

.ty-icon-arrow-left:before {
    content: "\e600"
}

.ty-icon-arrow-down:before {
    content: "\e603"
}

.ty-icon-arrow-right:before {
    content: "\e604"
}

.ty-icon-arrow-up:before {
    content: "\e605"
}

.ty-icon-caret-left:before {
    content: "\e60a"
}

.ty-icon-caret-bottom:before {
    content: "\e60b"
}

.ty-icon-caret-top:before {
    content: "\e60c"
}

.ty-icon-caret-right:before {
    content: "\e60e"
}

.ty-icon-d-arrow-left:before {
    content: "\e610"
}

.ty-icon-d-arrow-right:before {
    content: "\e613"
}

.ty-icon-minus:before {
    content: "\e621"
}

.ty-icon-plus:before {
    content: "\e62b"
}

.ty-icon-remove:before {
    content: "\e635"
}

.ty-icon-circle-plus:before {
    content: "\e601"
}

.ty-icon-remove-outline:before {
    content: "\e63c"
}

.ty-icon-circle-plus-outline:before {
    content: "\e602"
}

.ty-icon-close:before {
    content: "\e60f"
}

.ty-icon-check:before {
    content: "\e611"
}

.ty-icon-circle-close:before {
    content: "\e607"
}

.ty-icon-circle-check:before {
    content: "\e639"
}

.ty-icon-circle-close-outline:before {
    content: "\e609"
}

.ty-icon-circle-check-outline:before {
    content: "\e63e"
}

.ty-icon-zoom-out:before {
    content: "\e645"
}

.ty-icon-zoom-in:before {
    content: "\e641"
}

.ty-icon-d-caret:before {
    content: "\e615"
}

.ty-icon-sort:before {
    content: "\e640"
}

.ty-icon-sort-down:before {
    content: "\e630"
}

.ty-icon-sort-up:before {
    content: "\e631"
}

.ty-icon-tickets:before {
    content: "\e63f"
}

.ty-icon-document:before {
    content: "\e614"
}

.ty-icon-goods:before {
    content: "\e618"
}

.ty-icon-sold-out:before {
    content: "\e63b"
}

.ty-icon-news:before {
    content: "\e625"
}

.ty-icon-message:before {
    content: "\e61b"
}

.ty-icon-date:before {
    content: "\e608"
}

.ty-icon-printer:before {
    content: "\e62f"
}

.ty-icon-time:before {
    content: "\e642"
}

.ty-icon-bell:before {
    content: "\e622"
}

.ty-icon-mobile-phone:before {
    content: "\e624"
}

.ty-icon-service:before {
    content: "\e63a"
}

.ty-icon-view:before {
    content: "\e643"
}

.ty-icon-menu:before {
    content: "\e620"
}

.ty-icon-more:before {
    content: "\e646"
}

.ty-icon-more-outline:before {
    content: "\e626"
}

.ty-icon-star-on:before {
    content: "\e637"
}

.ty-icon-star-off:before {
    content: "\e63d"
}

.ty-icon-location:before {
    content: "\e61d"
}

.ty-icon-location-outline:before {
    content: "\e61f"
}

.ty-icon-phone:before {
    content: "\e627"
}

.ty-icon-phone-outline:before {
    content: "\e628"
}

.ty-icon-picture:before {
    content: "\e629"
}

.ty-icon-picture-outline:before {
    content: "\e62a"
}

.ty-icon-delete:before {
    content: "\e612"
}

.ty-icon-search:before {
    content: "\e619"
}

.ty-icon-edit:before {
    content: "\e61c"
}

.ty-icon-edit-outline:before {
    content: "\e616"
}

.ty-icon-rank:before {
    content: "\e632"
}

.ty-icon-refresh:before {
    content: "\e633"
}

.ty-icon-share:before {
    content: "\e636"
}

.ty-icon-setting:before {
    content: "\e638"
}

.ty-icon-upload:before {
    content: "\e60d"
}

.ty-icon-upload2:before {
    content: "\e644"
}

.ty-icon-download:before {
    content: "\e617"
}

.ty-icon-loading:before {
    content: "\e61e"
}

.ty-icon-loading {
    -webkit-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite
}

.ty-icon--right {
    margin-left: 5px
}

.ty-icon--left {
    margin-right: 5px
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotateZ(0);
        transform: rotateZ(0)
    }
    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg)
    }
}
